#static {
    flex: 1 0 50%;
    @include tablet-portrait {
        min-width: 30em;
    }
    padding: 2%;
    .navbar {
        display: flex;
        justify-content: space-around;
        margin: 2vh;
    }
    @include notdesktop {
        padding-bottom: 5vh;
    }
}

.navbar button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5em;
    font-family: Poppins;
    color: grey;
}

.navbar button:hover {
    color: #000000;
}

.navbar button.active {
    color: #000000;
    cursor: initial;
}

#classes {
    display: none;
}

#footer {
    // Footer positioning
    z-index: 2;
    padding: 20px 100px;
    width: 100%;

    @include desktop {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
    }

    @include notdesktop {
        padding-top: 20px;
        position: relative;
    }

    // Item positioning
    display: flex;
    justify-content: space-evenly;

    // icon styling
    .fab, .fas {
        color: black;
        font-size: 250%;
    }
}
