#static {
  top: 0;
  left: 0;
  padding: 2%;
  overflow-y: auto;
  min-height: 100%;
  .navbar {
    display: flex;
    justify-content: space-around;
    margin: 2vh;
  }
}

.tabcontent {
  padding-bottom: 82px;
}

button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.5em;
  font-family: Poppins;
  color: grey;
  &:hover {
    color: black;
  }

  &.active {
    color: black;
    cursor: initial;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

#coursework-toggle {
  font-size: 0.95em;
}

#classes {
  display: none;
}

#footer {
  // Footer positioning
  padding: 20px 100px 10px;
  width: 100%;

  overflow: hidden;

  @include desktop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
  }

  @include notdesktop {
    position: relative;
  }

  // Icon positioning
  display: flex;
  justify-content: space-evenly;

  // Icon styling
  .fab,
  .fas {
    transition: 0.3s;
    color: black;
    font-size: 250%;
  }
  :hover {
    color: grey;
  }

  .link {
    z-index: 0;
  }

  .footer-background {
    position: absolute;
    background-color: grey;
    opacity: 0.3;
    border-radius: 15px;

    top: 10px;
    width: 70%;
    height: 100%;
  }
}
