@import "./_responsive.scss";

#footer {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.vid-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.unstyled {
    color: inherit;
    width: 100%;
    margin: auto;
}

.centered {
    width: 100%;
    margin: auto;
    text-align: center;
}

body {
    padding-bottom: 110%;
}

h1 {
    // font-family: Source Code Pro Light !important;
    font-family: Poppins;
    font-weight: lighter;
}

h2, h3 {
    // font-family: Source Code Pro Light !important;
    font-family: Poppins;
    font-weight: lighter;
}

p {
    font-family: Open Sans;
}
