$linkcolor: #3199DC;

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

@include desktop {
    .split {
        width: 50%;
        height: 100%;
        position: fixed;
    }
    #showcase {
        float: right;
    }
}

h1 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    @include mobile {
        font-size: 3em;
    }
}

h2, h3 {
    font-family: Poppins;
    font-size: 1.5em;
}

p {
    font-family: Open Sans;
}

a {
    color: $linkcolor;
}
